---
import { Icon } from 'astro-icon';
import Layout from '@layouts/Layout.astro';
import Container from '@components/container.astro';
---

<Layout title="Contact">
  <div class="flex justify-center items-center h-64 bg-pasta-rain animate-pasta-rain mb-12">
    <h1 class="text-6xl md:text-8xl">Contact</h1>
  </div>
  <Container>
    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl my-16">
      <div>
        <h2 class="font-medium text-2xl">Opening Hours</h2>
        <div class="flex items-center mt-2 space-x-2">Monday: Closed</div>
        <div class="flex items-center mt-2 space-x-2">Tuesday: Closed</div>
        <div class="flex items-center mt-2 space-x-2">
          Wednesday: 5:30pm - 9pm
        </div>
        <div class="flex items-center mt-2 space-x-2">
          Thursday: 5:30pm - 9pm
        </div>
        <div class="flex items-center mt-2 space-x-2">Friday: 5:30pm - 9pm</div>
        <div class="flex items-center mt-2 space-x-2">
          Saturday: 5:30pm - 10pm
        </div>
        <div class="flex items-center mt-2 space-x-2">Sunday: 3pm - 6:30pm</div>
      </div>
      <div>
        <h2 class="font-medium text-2xl">Contact Café Mars</h2>
        <p class="text-lg leading-relaxed mt-3">
          Have something to say? We are here to help. Fill up the form or send
          email or call phone.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2">
            <Icon class="w-4 h-4" name="uil:map-marker" />
            <span>272 3rd Avenue, Brooklyn, NY 11215</span>
          </div>
          <div class="flex items-center mt-2 space-x-2">
            <Icon class="w-4 h-4" name="uil:envelope" />
            <a href="mailto:hello@astroshipstarter.com">info@cafemarsbk.com</a>
          </div>
          <div class="flex items-center mt-2 space-x-2">
            <Icon class="w-4 h-4" name="uil:phone" />
            <a href="tel:+1 (987) 4587 899">+1 (347) 987 4225</a>
          </div>
          <div class="flex items-center mt-2 space-x-2">
            <Icon class="w-4 h-4" name="uil:instagram" />
            <a href="tel:+1 (987) 4587 899">+1 (347) 987 4225</a>
          </div>
        </div>
      </div>
    </div>
  </Container>
</Layout>
