---
// Import necessary modules and components
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { Image } from "@astrojs/image/components";
import Banner from "@components/banner.astro";

// Fetch gallery items from the collection
const galleryItems = await getCollection("gallery");
---

<!-- // Render the Layout component with the gallery title -->
<Layout title={galleryItems[0].data.title}>
  <Banner bannerTitle="gallery" />
  <Container>
    <!-- // Render a grid of images using the gallery items -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-16 mb-8">
      {
        galleryItems[0].data.photoentry.map((photo) => (
          <>
            <div class="col-span-1">
              <Image
                src={photo.photo}
                width={600}
                aspectRatio="9:16"
                alt={photo.description}
              />
            </div>
          </>
        ))
      }
    </div>
  </Container>
</Layout>
