---
const { bannerTitle } = Astro.props;
---

<div
  class="flex justify-center items-center h-64 bg-pasta-rain animate-pasta-rain mb-12 font-cafemars">
  <h1 class="text-6xl md:text-8xl">{bannerTitle}</h1>
</div>
