<footer class="bg-[#00b74f] text-slate-100 px-20 py-8">
  <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4">
    <div class="col-span-1">
      <p class="font-bold text-xl">Links</p>
      <ul>
        <li><a href="about">About</a></li>
        <li><a href="menu">Menus</a></li>
        <li><a href="gallery">Gallery</a></li>
        <li><a href="jobs">Jobs and Careers</a></li>
        <li><a href="friends">Friends</a></li>
      </ul>
    </div>
    <div class="col-span-1">
      <p class="font-bold text-xl">Opening Times</p>
      <ul>
        <li>Monday: Closed</li>
        <li>Tuesday: Closed</li>
        <li>Wednesday: 5:30pm - 9pm</li>
        <li>Thursday: 5:30pm - 9pm</li>
        <li>Friday: 5:30pm - 9pm</li>
        <li>Saturday: 5:30pm - 10pm</li>
        <li>Sunday: 3pm - 6:30pm</li>
      </ul>
    </div>
    <div class="col-span-1">
      <p class="font-bold text-xl">Contact</p>
      <ul>
        <li>
          <a href="https://goo.gl/maps/6aeo3Jv2ciESyAkSA"
            >272 3rd Avenue, Brooklyn, NY 11215</a
          >
        </li>
        <li><a href="tel:3479874225">+1 (347) 987 4225</a></li>
        <li><a href="mailto:info@cafemarsbk.com">info@cafemarsbk.com</a></li>
        <li>
          <a href="https://www.instagram.com/cafemarsbk/"
            >Instagram: @cafemarsbk</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
