---
import { getEntry } from "astro:content";

const footerEntry = await getEntry("footer", "entry");
const listOfColumns = footerEntry.data.footerColumn;
---

<footer class="bg-[#00b74f] px-20 py-8 text-white">
  <div class="grid sm:grid-cols-2 md:grid-cols-4 gap-4">
    {
      listOfColumns.map((column) => (
        <>
          <div class="col-span-1">
            <p class="font-bold text-xl">{column.title}</p>
            <ul>
              {column.items.map((item) => (
                <>
                  <li>
                    {item.link ? (
                      <a href={item.type + item.link}>{item.name}</a>
                    ) : (
                      item.name
                    )}
                  </li>
                </>
              ))}
            </ul>
          </div>
        </>
      ))
    }
  </div>
</footer>
