---
import { getEntry } from "astro:content";

const footerEntry = await getEntry("footer", "entry");
const listOfColumns = footerEntry.data.footerColumn;
---

<footer class="bg-[#00b74f] px-20 py-8 text-white">
  <div class="grid sm:grid-cols-2 md:grid-cols-4 gap-4">
    {
      listOfColumns.map((column) => (
        <>
          <div class="col-span-1">
            <p class="font-bold text-xl">{column.title}</p>
            <ul>
              {column.items.map((item) => (
                <>
                  <li class="flex">
                    {item.icon && <img class="h-5 mr-1" src={item.icon} alt="" />}
                    {item.link ? (
                      <a href={item.type + item.link}>{item.name}</a>
                    ) : (
                      item.name
                    )}
                  </li>
                </>
              ))}
            </ul>
          </div>
        </>
      ))
    }
  </div>
  <br />
  <hr />
  <br />
  <div class="grid grid-cols-1 lg:grid-cols-3">
    <div class="flex justify-center">
      <p>Copyright © 2022 Café Mars</p>
    </div>
    <div class="flex justify-center">
      <a href="/termsandconditions">Terms and Conditions</a>
    </div>
    <div class="flex justify-center">
      <a href="/privacy">Privacy Policy</a>
    </div>
  </div>
</footer>
