---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/Cafe Mars Facade Black.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";
---

<section id="sectionImage" class="hero-normal">
  <div class="h-screen grid grid-cols-1 md:grid-cols-3 gap-16">
    <div class="hidden md:block md:col-span-1"></div>
    <div class="col-span-1 flex justify-center items-center">
      <img
        id="logo"
        src="/CafeMars_-_Logos-01_pmmvt1.png"
        alt="hover log"
        class="w-4/5 duration-700"
      />
    </div>
    <div class="hidden md:block md:col-span-1"></div>
  </div>
</section>

<script>
  const logo = document.getElementById("logo");
  const imageToChange = document.getElementById("sectionImage");

  logo?.addEventListener("mouseover", () => {
    imageToChange?.classList.toggle("hero-normal");
    imageToChange?.classList.toggle("hero-inverted");
  });

  logo?.addEventListener("mouseout", () => {
    imageToChange?.classList.toggle("hero-normal");
    imageToChange?.classList.toggle("hero-inverted");
  });

  window.addEventListener("mousemove", (e) => {
    const logoRect = logo.getBoundingClientRect();
    const centerX = logoRect.left + logoRect.width / 2;
    const centerY = logoRect.top + logoRect.height / 2;
    const distanceX = e.clientX - centerX;
    const distanceY = e.clientY - centerY;

    const normalizedDistanceX = (distanceX / window.innerWidth) * 2;
    const normalizedDistanceY = (distanceY / window.innerHeight) * 2;

    const maxRotation = 35;
    const rotationX = normalizedDistanceY * maxRotation * -1;
    const rotationY = normalizedDistanceX * maxRotation * -1;

    if (window.innerWidth > 1024) {
      logo.style.transform = `rotateX(${
        -1 * Math.abs(rotationX)
      }deg) rotateY(${rotationY}deg)`;
    } else {
      logo.style.transform = `rotateX(0deg) rotateY(0deg)`;
    }
  });
</script>
