@font-face {
  font-family: "cafemars";
  src: url("/fonts/cafemarsregular-webfont.woff2") format("woff2"),
    url("/fonts/cafemarsregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

.h1,
.h2,
.h4,
.h5,
h1,
h2,
h4,
h5 {
    font-family: "InterVariable", "Inter", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}

p{
    font-family: "InterVariable", "Inter", sans-serif;
}
